.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 1fr;
    grid-template-areas:
        "header"
        "content";

    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}


header {
    grid-area: header;
    background-color: transparent;
}

main {
    grid-area: content;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

body {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}


.top {
    background-color: rgba(82, 82, 82, 0.8);
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.user-icon {
    color: white;
    scale: 1.7;
    float: left;
    transform: translateX(20px);
}
.logout {
    color: white;
    float: right;
    cursor: pointer;
    padding-right: 26px;
}


.search-area {
    background-color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.left {
    height: 10vh;
}

.search-area img {
    width: 4vw;
    padding: 0.5vh 1vw;
}

.text {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    width: 56%;
}

.search-area .slogan {
    font-size: 2rem;
    font-family: "Kiona", "Times New Roman", serif;
}

/*TODO figure out a way to change the button colour*/
.search {
    float: right;
    margin: 0 7vw 0 0;
    position: relative;

    display: flex;
    justify-content: center;
    width: 30vw;
    height: 4vh;
}

.search  input{
    border-radius: 20px 0 0 20px;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 17.5vw;
    padding: 0 0 0 1vw;
    font-family: 'Kiona', 'Quicksand', sans-serif;
}

.search-icon-btn {
    background-color: white;
    border: none;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0 20px 20px 0 ;
    width: 2.5vw;
    cursor: pointer;
    background-image: url("./../../Brand_Identity/images/icons/search_icon_black.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    background-size: 2.8vh;
}



.search input:focus {
    color: black;
    outline: none;
    background-color: rgba(81,81,81,0.2);
}

#search:focus .search .search-icon-btn {
    outline: none;
    background-color: rgba(81,81,81,0.2);
}

.search input:focus::placeholder {
    color: transparent;
}



.navigation {
    background-color: rgba(22, 150, 210, 0.75);
    height: 5vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.box {
    width: 10vw;
    height: auto;
    text-align: center;
    border-left: 1px solid white;
    font-size: 1.3rem;
}

#img {
    background-repeat: no-repeat;
    background-position: 5vw 2.5vh;
    background-image: url("./../../Brand_Identity/images/icons/white_house.png");
    background-size: 5vh;
    border-left: 0;
    height: 10vh;
}

.box a {
    margin: 3.5vh 0;
    text-decoration: none;
    color: white;
}

.navigation img {
    scale: 0.27;
}

/*Title page thing*/
.page-title {
    width: 100%;
}

.page-title .image img{
    height: 85%;
    margin: 1vh 3vw 0 3vw;
}

.main-text {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    padding-top: 5vh;
}

/*End of Navigational Dashboard*/
.announcement-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 2% 4% 5% 4%;
    width: 60%;
    height: 63%;
}

.announcement-list {
    /*
    margin-top: 30px;
    width: 200px;
    max-height: 300px;
     */

    width: 20%;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* hides scrollbar */
    scrollbar-width: none;  /* hides scrollbar */
}

/*hides scrollbar*/
.announcement-list::-webkit-scrollbar {
    display: none;
}

.announcement-wrapper {
    height: 80%;
    padding: 3vh 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.announcement-list-item {
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: center;
}

.announcement-list-item:hover {
    background-color: #f0f0f0;
}

.announcement-content {
    flex-grow: 1;
    padding: 0 10px;
    height: 90%;
}

.filter-container {
    height: 10%;
    width: 100%;
}

.filter-dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

.filter-button {
    background-color: #f0f0f0;
    border: 1px solid rgba(31, 31, 31, 1);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 1.4vh 2vw 0;
    cursor: pointer;
    width: 40%;
}

#filter_img {
    width: 1vw;
    float: left;
}

.filter-options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 70%;
    margin-left: 14%;
    text-align: center;
}

.filter-options a {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.filter-options a:hover {
    background-color: #f0f0f0;
}

.filter-dropdown:hover .filter-options {
    display: block;
}



.filter-dropdown:hover .announcement-container {
    opacity: 0.2;
}

.add-comment {
    position: relative;
    float: right;
    color: #007bff;
    cursor: pointer;
    top: 70%;
    right: 5%;
}

.pre-announcement {
    text-align: center;
    margin-top: 20%;
}

.comment-box {
    visibility: hidden;
    display: none;
    flex-direction: column;
}

.comment-box textarea {
    width: 80%;
    max-width: 90%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-box button {
    background-color: #007bff;
    color: #fff;
    width: 100px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.announcement-title {
    font-weight: 600;
}
.announcement-description {
    font-family: initial;
}

.description-wrapper {
    visibility: hidden;
    display: none;
}

.current_display {
    visibility: visible;
    display: block;
}

.autocomplete-list {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    width: 63%;
    background-color: white;
    top: 4.2vh;


    -ms-overflow-style: none;  /* hides scrollbar */
    scrollbar-width: none;  /* hides scrollbar */
}

.autocomplete-list::-webkit-scrollbar {
    display: none;
}


.autocomplete-list button {
    border: unset;
    background: unset;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5em;
}

.autocomplete-list button:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.autocomplete-list li {
    border: 1px solid #e9e9e9;
    border-top: unset;
    border-radius: 6px;
}

.create-announcement {
    width: 30%;
}