.ui-button {
    font-size: 50px;
    border-radius: 40px;
    padding: 4px 10px;
    text-align: center;
}

.ui-button:hover {
    background-color: rgb(31,31,31);
    color: rgb(241,241,241);
    border-color: rgb(31,31,31);
}


#index-button-division {
    position: relative;
    float: left;
    width: 70%;
    padding-top: 75px;
}

#login {
    position: relative;
    float: left;
    width: 35%;
    margin-right: 50px;
    padding: 10px;
}

#client {
    position: relative;
    float: right;
    width: 35%;
    margin-left: 50px;
    padding: 10px;
}

h1 {
    font-size: 3em;
    margin-left: 20px;
}