/*TODO: ICONS, Interactive Calendar*/

.container {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 8vh 1fr;
    grid-template-areas:
        "header header"
        "nav content";
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}


header {
    grid-area: header;
    background-color: rgba(22, 150, 210, 0.8);
}

nav {
    grid-area: nav;
    background-color: rgba(31, 31, 31, 0.05);
    border: 1px solid rgba(31, 31, 31, 0.2);
}

aside {
    grid-area: nav;
    background-color: rgba(31, 31, 31, 0.05);
    border: 1px solid rgba(31, 31, 31, 0.2);
}

main {
    grid-area: content;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', 'Quicksand', sans-serif;
}


body {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}

button {
    cursor: pointer;
}

.item:hover {
    color: #000000;
    background-color: rgba(81, 81, 81, 0.5);
}

/*Dropdown  todo: Fix, maybe add delay or something
                    change icons*/

#icon {
    width: 0;
    height: 0;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin: 0 3vw 0 0;
    height: 100%;
}

.dropdown .dropdownBtn {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    margin: 0 0 0 0.5vw;
    padding: 0 0 0 0.5vw;
}

.dropdown:hover .dropdownBtn{
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    background-color: #F1F1F1;
    min-width: 7vw;
    text-align: center;
    z-index: 1;
    right: 1.5vw;
    top: 8vh;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#avatar {
    height: 8vh;
}

/*End of DropDown*/

/*Navigational Dashboard*/

/*Widths adjusted for a nav pane of 20vw*/
/*.dash-box {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(82, 82, 82, 0.75);
    width: 15vw;
    height: 52vh;
    margin: 10vh 2.5vw 20vh 2.5vw;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.box {
    border-bottom: 1px solid rgba(82, 82, 82, 0.75);
    text-align: center;
    padding: 5% 0 5% 0;
}


.dash-box a {
    text-decoration: none;
    color: black;
}

.text img {
    width: 95%;
    margin: 10vh 2.5% 0 2.5%;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}


.box:hover {
    cursor: pointer;
    color: rgba(82, 82, 82, 0.75);
}


!*Currently active page, change depending on the CSS file used*!
#calendar {
    background-color: rgba(22, 150, 210, 0.8);
    border: 1px solid #1696D2;
    color: white;
}*/

#dashboard-icon {
    width: 2.2vw;
    height: 6vh;
    position: absolute;
    top: 35vh;
    left: 4.8vw;
    z-index: 1;
}

#news-icon {
    width: 3vw;
    height: 6vh;
    position: absolute;
    top: 44vh;
    left: 4.6vw;
    z-index: 1;
}

#News {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 2.8vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.2vh;
}

#calendar-icon {
    width: 3vw;
    height: 6vh;
    position: absolute;
    top: 53.5vh;
    left: 4.7vw;
    z-index: 1;
}

#calendar {
    background-color: rgba(22,150,210,0.8);
    border: 1px solid #1696D2;
    color: white;
    padding-left: 3.6vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.3vh;
}

#booking-icon {
    width: 3vw;
    height: 6.5vh;
    position: absolute;
    top: 62.4vh;
    left: 4.7vw;
    z-index: 1;
}

#booking {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 3.95vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.3vh;
}

/*Navigational Dashboard*/

.dash-box img {
    width: 0;
    height: 0;
}
/*Widths adjusted for a nav pane of 20vw*/

.text img{
    width: 95%;
    margin: 10vh 2.5% 0 2.5%;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.dash-box {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(82,82,82,0.75);
    width: 15vw;
    height: 52vh;
    margin: 10vh 2.5vw 20vh 2.5vw;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.box {
    border-bottom: 1px solid rgba(82,82,82,0.75);
    text-align: center;
    padding: 5% 0 5% 0;
    height: 5vh;
    cursor: pointer;
}

.box:hover {
    cursor: pointer;
    color: rgba(82,82,82,0.75);
}

.dash-box a {
    text-decoration: none;
    color: black;
}
/*Currently active page, change depending on the CSS file used*/
#dashboard {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 2.8vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.2vh;
}

/*End of Navigational Dashboard*/


/*Calendar template: "https://www.youtube.com/watch?v=o1yMqPyYeAo"*/

.calendar-container {
    height: 92vh;
    display: grid;
    justify-content: center;
    padding: 0 10vw 0 10vw;
    align-items: center;
}

.calendar {
    width: 50vw;
    height: 70vh;
}

.month {

    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.85vh;
    border-bottom: 0.3vh solid black;
    text-align: center;
    text-shadow: 0 0.3vw 0.5vh rgba(22, 150, 210, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

    color: rgb(22, 150, 210);
}

.month p {
    font-size: 1.6rem;
    color: rgb(22, 150, 210);

}

.next, .prev {
    text-shadow: 0 0.2vw 0.3vh rgba(0, 0, 0, 0.5);
}

.weekdays {
    width: 50vw;
    height: 6vh;
    padding: 2.425vh 25px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1vw;

    width: 4vw;
    display: grid;
    justify-content: center;
    align-items: center;

    text-shadow: 0 0.2vw 0.4vh rgba(0, 0, 0, 0.5);
}

.days {
    width: 50vw;
    max-width: 50vw;
    height: 38vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.days div {
    font-size: 1rem;
    width: 6.9vw;
    max-height: 10vh;
    min-height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid black;
    text-shadow: 0 0.2vw 0.5vh rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    flex-direction: row;
    position: relative;
}

.days div:hover:not(.today) {
    background-color: #262626;
    color: white;
}

.days div:hover {
    cursor: pointer;
}

.prev-date, .next-date {
    opacity: 0.5;
}

.today {
    background-color: rgba(22, 150, 210, 0.5);
}


.event-display {
    visibility: hidden;
    position: relative;
    z-index: 2;
    height: 72vh;
    width: 40vw;
    top: -80vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
}

.blob-nav {
    height: 8vh;
    width: 40vw;
    text-align: center;
    padding-top: 4vh;
    background-color: white;
    border: 1px solid black;
    border-bottom: 0;
}

#back {
    float: left;
    margin: 1vh 2vw;}

#back-img {
    height: 3vh;
}

#back-img:hover {
    cursor: pointer;
}

.calendar-day {
    width: 100%;
    text-align: center;
}

.calendar-dot {
    border-radius: 50%;
    background-color: orange;
    width: 0.5vw;
    height: 1vh;
    margin: 0 0.2vw;
}

.calendar-dot-overflow {
    position: absolute;
    border-radius: 10px;
    height: 1.6vh;
    width: 65%;
    margin-top: 5vh;
}

.dots {
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    color: white;
    width: 2.5vw;
    height: 4.7vh;
    text-align: center;
    line-height: 4.5vh;
    margin: 0 0.3vw;
}

.new {
    background-color: #4527A0;
    cursor: pointer;
}

.enrolled {
    background-color: rgb(163 163 163);
}

.dots:hover {
    scale: 1.5;
    text-align: center;
}

.event {
    height: 57vh;
    width: 40vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid black;

    -ms-overflow-style: none;  /* hides scrollbar */
    scrollbar-width: none;  /* hides scrollbar */
}

.popup-button-span {
    float: right;
    margin: -5vh 6vw;
}

.popup-button {
    width: 7vw;
    height: 5vh;
    font-size: 1.2rem;
}

/*hides scrollbar*/
.event::-webkit-scrollbar {
    display: none;
}

.event-info {
    padding: 10px 30px;
    text-align: justify;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    max-width: 50%;
}


.event-info p {
    font-weight: bold;
}

.event-info span {
    font-weight: normal;
}