.container {
    display: grid;
    grid-template-columns: 20vw 57vw 23vw;
    grid-template-rows: 8vh auto;
    grid-template-areas:
        "header header header"
        "nav content sidebar";
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

}

header {
    grid-area: header;
    background-color: rgba(22,150,210,0.8);
}

nav {
    grid-area: nav;
    background-color: rgba(31,31,31,0.05);
    border: 1px solid rgba(31,31,31,0.2);
    height: 92vh;
}

aside {
    grid-area: sidebar;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Kiona', 'Quicksand', sans-serif;
    height: 91vh;
}

main {
    grid-area: content;
    background-color: rgba(255,255,255,0.8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', 'Quicksand', sans-serif;
    height: 100%;
    /*
    overflow: scroll; !*try to hide any dumb overflow that happens *!*!
    */
}

.bolded {
    font-weight: bold;
    font-family: Arial, serif;
}

body {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}

/*Content inside dropdowns*/
.item:hover{
    color: #000000;
    background-color: rgba(81,81,81,0.5);
}



/*Dropdown  todo: Fix, maybe add delay or something
                    change icons*/

.dropdown {
    float: right;
    overflow: hidden;
    margin: 0 3vw 0 0;
    height: 100%;
}

.dropdown .dropdownBtn {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    margin: 0 0 0 0.5vw;
    padding: 0 0 0 0.5vw;
}

.dropdown:hover .dropdownBtn{
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    background-color: #F1F1F1;
    min-width: 7vw;
    text-align: center;
    z-index: 1;
    right: 1.5vw;
    top: 8vh;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*End of DropDown*/


#avatar {
    height: 8vh;
}


/*Navigational Dashboard*/

.dash-box img {
    width: 0;
    height: 0;
}
/*Widths adjusted for a nav pane of 20vw*/

.text img{
    width: 95%;
    margin: 10vh 2.5% 0 2.5%;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.dash-box {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(82,82,82,0.75);
    width: 15vw;
    height: 52vh;
    margin: 10vh 2.5vw 20vh 2.5vw;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.box {
    border-bottom: 1px solid rgba(82,82,82,0.75);
    text-align: center;
    padding: 5% 0 5% 0;
}

.box:hover {
    cursor: pointer;
    color: rgba(82,82,82,0.75);
}

.dash-box a {
    text-decoration: none;
    color: black;
}
/*Currently active page, change depending on the CSS file used*/
#dashboard {
    background-color: rgba(22,150,210,0.8);
    border: 1px solid #1696D2;
    color: white;
}

/*End of Navigational Dashboard*/


/*MAIN*/

.page-title {
    height: 15vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}

.navigation {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    position: sticky;
    top: 15vh;
    border-bottom: 2px solid black;
}

/*Title page thing*/
.page-title .image img{
    height: 85%;
    margin: 1vh 3vw 0 3vw;
}
.text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 5vh;
}
/*Filter Dropdown*/

.filter {
    float: left;
    display: inline-block;
    margin: 0 0 0 4vw;
}

.filter .filter-btn {
    background-color: inherit;
    padding: 0 0.75vw;
    width: 35vh;
    height: 3vh;
    border-radius: 0;
    border: 2px solid black;
    box-shadow: 0 3px 3px rgba(82,82,82,0.38);
    font-family: 'Kiona', 'Quicksand', sans-serif;
    display: inline-block;
}

.filter-icon {
    margin-top: 0.45vh;
    float: left;
    display: inline-block;
}


#filter_button_text {
    margin-top: auto;
}
.filter-btn p {
    transform: translateY(-14px);
}
.down-icon {
    float: right;
    scale: 1.6;
}

.filter:hover .filter-btn {
    cursor: pointer;
    background-color: rgba(81,81,81,0.2);
    border-radius: 5px;

}

.filter-content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    border-radius: 5px;
    width: 10vw;

}

/*
Change depending on what the actual content is to be able to filter
*/
.filter-content p {
    float: none;
    color: black;
    padding: 12px 16px;
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.filter:hover .filter-content {
    display: block;
    width: 10vw;
    border-radius: 0;
}

.booking-container .filter:hover {
    opacity: 0.2;
}


/*END of Filter Button*/
/*TODO: When filter hover is on reduce main content page opacity*/

/*
    Searchbar - some cheating involved.
    Button only looks like it is in the search bar,
    it is however only next to it
 */


.search {
    float: right;
    margin: 0 7vw 0 0;

    display: flex;
    justify-content: right;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20vw;
    height: 3vh;
}

.search  input{
    border-radius: 5px 0 0 5px;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 17.5vw;
    padding: 0 0 0 1vw;
    font-family: 'Kiona', 'Quicksand', sans-serif;

}

.search-icon-btn {
    background-color: #1696d2;
    border: none;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 0 5px 5px 0 ;
    width: 2.5vw;
    cursor: pointer;
}

.search-icon-btn .magnifying-glass {
    width: 0.9vw;
    padding: 1px;
}
.search input:focus {
    color: black;
    outline: none;
    background-color: rgba(81,81,81,0.2);
}

.search input:focus::placeholder {
    color: transparent;
}


/*End searchbar*/

/*Bookings*/

.booking-container {
    width: 100%;
    height: 71vh;
    max-width: 70vw;
    margin: 0 2.5% 0 2.5%;
    min-height: 0;

    overflow-x: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* hides scrollbar */
    scrollbar-width: none;  /* hides scrollbar */





}
/*hides scrollbar*/
.booking-container::-webkit-scrollbar {
    display: none;
}

.booking {
    width: 97%;
    height: auto;
    min-height: 70px;

    border: 1px solid black;
    border-radius: 4px;
    margin: 2.5% 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.booking .booking-info-grid {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.booking p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.booking:hover {
    cursor: pointer;
}

.booking .booking-large-text {
    margin: 0;
    width: 100%;
    float: left;
    text-align: left;
    vertical-align: top;
    background-color: #FFFFFF;
    padding: 5px 5px 0 5px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    max-width: 80%;
}

.booking-large-text p:hover {
    white-space: normal;
    display: block;
}


.booking .booking-small {
    float: left;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    padding: 12px 5px 0 5px;
    background-color: #FFFFFF;

}

.booking .booking-small p {
    font-family: Arial, serif;
    font-size: smaller;
}



.innerBooking {
    text-align: center;
    width: 15%;
    height: 70px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.right {
    float: right;
    border-left: 1px solid black;
    border-radius: 4px;
}
.innerBooking p {
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.booking-description {
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-family: Arial, serif;
    font-weight: normal;
}


.left p{
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
}

.pending-state {
    background-color: rgba(255, 105, 98, 0.72);

}
.approved-state {
    background-color: rgba(98, 105, 255, 0.72);
}

.todo {
    background-color: red;
    height: 30px;
    padding-top: 8px;
    width: 20%;
}

/*Aside*/

.recent {
    width: 18vw;
    height: 25vh;

    margin: 10vh 3.5vw 0 2.5vw;
    border: 2px solid rgba(82, 82, 82, 0.5);;
}

.recent p {
    height: 3vh;
    margin: 0 0 2.7vh 0;
    background-color: rgba(31, 31, 31, 0.35);
    text-align: center;
    padding: 3px;
}

.latestBooking {
    margin: 0 1.5vw 0 1.5vw;
    border: 1px solid rgba(22, 150, 210, 0.8);
    height: 17vh;
}

.latestBooking a{
    display: block;
    height: 3vh;
    background-color: rgba(22, 150, 210, 0.5);
    text-align: center;
}

.latestBooking p {
background-color: inherit;
    padding: 20px;
}





.stats {
    width: 18vw;
    height: 43vh;

    margin: 8vh 3.5vw 0 2.5vw;
    border: 2px solid rgba(82, 82, 82, 0.5);;
}

.stats p {
    height: 3vh;
    margin: 0 0 2vh 0;
    background-color: rgba(31, 31, 31, 0.35);
    text-align: center;
}

.graph {
    margin: 0 0.5vw 1.5vh 0.5vw;
    border: 1px solid rgba(22, 150, 210, 0.8);
    height: 20vh;
}

.numbers {
}

.numbers p {
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.numbers #total {
    margin-top: 3px;
    color: #FF0000;
}

/*End aside*/

/*Things to hide*/

.title-bar {
    display: none;
    visibility: hidden;
}

.event-container {
    display: none;
    visibility: hidden;
}

.admins {
    display: none;
    visibility: hidden;
}