/*.container {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 8vh auto;
    grid-template-areas:
        "header header header"
        "nav content content";

    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

}

header {
    grid-area: header;
    background-color: rgba(22,150,210,0.8);
}

nav {
    grid-area: nav;
    background-color: rgba(31,31,31,0.05);
    border: 1px solid rgba(31,31,31,0.2);
}


main {
    grid-area: content;
    background-color: rgba(255,255,255,0.8);
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', 'Quicksand', sans-serif;
}


body {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}*/

.container {
    display: grid;
    grid-template-columns: 20vw 57vw 23vw;
    grid-template-rows: 8vh auto;
    grid-template-areas:
        "header header header"
        "nav content sidebar";
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

}

header {
    grid-area: header;
    background-color: rgba(22,150,210,0.8);
}

nav {
    grid-area: nav;
    background-color: rgba(31,31,31,0.05);
    border: 1px solid rgba(31,31,31,0.2);
    height: 92vh;
}

aside {
    grid-area: sidebar;
    background-color: rgba(255,255,255,0.8);
    font-family: 'Kiona', 'Quicksand', sans-serif;
    height: 91vh;
}

main {
    grid-area: content;
    background-color: rgba(255,255,255,0.8);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiona', 'Quicksand', sans-serif;
    height: 100%;
    /*
    overflow: scroll; !*try to hide any dumb overflow that happens *!*!
    */
}

body {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin: 0 3vw 0 0;
    height: 100%;
}

#dashboard-icon {
    width: 2.2vw;
    height: 6vh;
    position: absolute;
    top: 40.9vh;
    left: 4.8vw;
}

#news-icon {
    width: 3vw;
    height: 6vh;
    position: absolute;
    top: 49.8vh;
    left: 4.6vw;
}

#News {
    background-color: rgba(22,150,210,0.8);
    border: 1px solid #1696D2;
    color: white;
    padding-left: 2.8vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.2vh;
}

#calendar-icon {
    width: 3vw;
    height: 6vh;
    position: absolute;
    top: 59.2vh;
    left: 4.7vw;
}

#calendar {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 3.6vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.3vh;
}

#booking-icon {
    width: 3vw;
    height: 6.5vh;
    position: absolute;
    top: 68.4vh;
    left: 4.7vw;
}

#booking {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 3.95vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.3vh;
}

/*Navigational Dashboard*/

.dash-box img {
    width: 0;
    height: 0;
}
/*Widths adjusted for a nav pane of 20vw*/

.text img{
    width: 95%;
    margin: 10vh 2.5% 0 2.5%;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.dash-box {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(82,82,82,0.75);
    width: 15vw;
    height: 52vh;
    margin: 10vh 2.5vw 20vh 2.5vw;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.box {
    border-bottom: 1px solid rgba(82,82,82,0.75);
    text-align: center;
    padding: 5% 0 5% 0;
    height: 5vh;
    cursor: pointer;
}

.box:hover {
    cursor: pointer;
    color: rgba(82,82,82,0.75);
}

.dash-box a {
    text-decoration: none;
    color: black;
}
/*Currently active page, change depending on the CSS file used*/
#dashboard {
    border: 1px solid rgba(82, 82, 82, 0.2);
    color: black;
    padding-left: 2.8vw;
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 19px;
    padding-top: 2.2vh;
}

.navigation {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7vh;
    position: sticky;
    top: 15vh;
    border-bottom: 2px solid black;
}

.dropdown .dropdownBtn {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    margin: 0 0 0 0.5vw;
    padding: 0 0 0 0.5vw;
}

.dropdown:hover .dropdownBtn{
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    background-color: #F1F1F1;
    min-width: 7vw;
    text-align: center;
    z-index: 1;
    right: 1.5vw;
    top: 8vh;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Content inside dropdowns*/
.item:hover{
    color: #000000;
    background-color: rgba(81,81,81,0.5);
}

#avatar {
    height: 8vh;
}

/*Navigational Dashboard*/

#icon {
    width: 0;
    height: 0;
}
/*Widths adjusted for a nav pane of 20vw*/

.text img{
    width: 95%;
    margin: 10vh 2.5% 0 2.5%;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.dash-box {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(82,82,82,0.75);
    width: 15vw;
    height: 52vh;
    margin: 10vh 2.5vw 20vh 2.5vw;
    box-sizing: border-box;
    font-size: 1.15rem;
    font-family: 'Kiona', 'Franklin Gothic Demi Cond', monospace;
}

.box {
    border-bottom: 1px solid rgba(82,82,82,0.75);
    text-align: center;
    padding: 5% 0 5% 0;
    height: 5vh;
    cursor: pointer;
}

.box:hover {
    cursor: pointer;
    color: rgba(82,82,82,0.75);
}

.dash-box a {
    text-decoration: none;
    color: black;
}
/*Currently active page, change depending on the CSS file used*/
#News {
    background-color: rgba(22,150,210,0.8);
    border: 1px solid #1696D2;
    color: white;
}


.page-title {
    height: 20vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    margin: 2vh 3vw;
}

.navigation {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    position: sticky;
    top: 15vh;
}


/*Title page thing*/
.page-title .image img{
    height: 85%;
    margin: 2vh 3vw 0px 1vw;
}

.text {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5vh;
    font-family: Kiona Semibold;
    text-decoration: underline;
}

/*End of Navigational Dashboard*/
.announcement-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid dimgrey;
    margin: 3% 4% 5% 4%;
    width: 91%;
    height: 61%;
}

.announcement-list {
    /*
    margin-top: 30px;
    width: 200px;
    max-height: 300px;
     */

    /*width: 20%;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  !* hides scrollbar *!
    scrollbar-width: none;  !* hides scrollbar *!*/
    width: 20%;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: -30vh;
    width: 38vh;
    margin-right: 19vw;
}

/*hides scrollbar*/
.announcement-list::-webkit-scrollbar {
    display: none;
}

.announcement-wrapper {
    height: 80%;
    padding: 4vh 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.announcement-list-item {
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    text-align: center;
    font-family: Kiona Semibold;
    padding-bottom: 1vh;
}

.announcement-list-item:hover {
    background-color: #f0f0f0;
}

.announcement-title {
    font-weight: 800;
    font-family: Kiona Semibold;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #e70f0f;
    padding-left: 10%;
}

.announcement-content {
    flex-grow: 1;
    padding: 0 10px;
    height: 90%;
    margin-top: -55vh;
    margin-left: 19.8vw;
}

.animation-container {
    width: 17vw;
    height: 37vh;
    position: absolute;
    top: calc(50% - 7.5vh);
    left: calc(50% - -29vw);
}

.coffee-header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #ddcfcc;
    border-radius: 10px;
}

.coffee-header__buttons {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    background-color: #282323;
    border-radius: 50%;
}

.coffee-header__buttons::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 4px);
    background-color: #615e5e;
}

.coffee-header__button-one {
    left: 15px;
}

.coffee-header__button-two {
    left: 50px;
}

.coffee-header__display {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    background-color: rgba(22, 150, 210, 0.6);
    border: 5px solid #1696d2;
    box-sizing: border-box;
}

.coffee-header__details {
    width: 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9b9091;
    box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}

.coffee-medium {
    width: 90%;
    height: 146px;
    position: absolute;
    top: 80px;
    left: calc(50% - 45%);
    background-color: #bcb0af;
}

.coffee-medium:before {
    content: "";
    width: 90%;
    height: 87px;
    background-color: #776f6e;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45%);
    border-radius: 20px 20px 0 0;
}

.coffee-medium__exit {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    background-color: #231f20;
}

.coffee-medium__exit::before {
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
    background-color: #231f20;
}

.coffee-medium__exit::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 5px);
    background-color: #231f20;
}

.coffee-medium__arm {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #231f20;
}

.coffee-medium__arm::before {
    content: "";
    width: 15px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #9e9495;
}

.coffee-medium__cup {
    width: 80px;
    height: 47px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    background-color: #FFF;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
}

.coffee-medium__cup::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: -13px;
    border: 5px solid #FFF;
    border-radius: 50%;
}

@keyframes liquid {
    0% {
        height: 0px;
        opacity: 1;
    }
    5% {
        height: 0px;
        opacity: 1;
    }
    20% {
        height: 62px;
        opacity: 1;
    }
    95% {
        height: 62px;
        opacity: 1;
    }
    100% {
        height: 62px;
        opacity: 0;
    }
}

.coffee-medium__liquid {
    width: 6px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: calc(50% - 3px);
    background-color: #74372b;
    animation: liquid 4s 4s linear infinite;
}

.coffee-medium__smoke {
    width: 8px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #b3aeae;
}

@keyframes smokeOne {
    0% {
        bottom: 20px;
        opacity: 0;
    }
    40% {
        bottom: 50px;
        opacity: .5;
    }
    80% {
        bottom: 80px;
        opacity: .3;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}

@keyframes smokeTwo {
    0% {
        bottom: 40px;
        opacity: 0;
    }
    40% {
        bottom: 70px;
        opacity: .5;
    }
    80% {
        bottom: 80px;
        opacity: .3;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}

.coffee-medium__smoke-one {
    opacity: 0;
    bottom: 50px;
    left: 102px;
    animation: smokeOne 3s 4s linear infinite;
}

.coffee-medium__smoke-two {
    opacity: 0;
    bottom: 70px;
    left: 118px;
    animation: smokeTwo 3s 5s linear infinite;
}

.coffee-medium__smoke-three {
    opacity: 0;
    bottom: 65px;
    right: 118px;
    animation: smokeTwo 3s 6s linear infinite;
}

.coffee-medium__smoke-four {
    opacity: 0;
    bottom: 50px;
    right: 102px;
    animation: smokeOne 3s 5s linear infinite;
}

.coffee-footer {
    width: 95%;
    height: 15px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 47.5%);
    background-color: rgba(22, 150, 210, 0.8);
    border-radius: 10px;
}

.coffee-footer::after {
    content: "";
    width: 106%;
    height: 26px;
    position: absolute;
    bottom: -25px;
    left: -8px;
    background-color: #000;
}

.filter-container {
    height: 10%;
    width: 100%;
}

.filter-dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

.filter-button {
    background-color: #f0f0f0;
    border: 1px solid rgba(31, 31, 31, 1);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 40%;
    margin: 2.4vh 2vw 0px 2vh;
    font-size: 16px;
}

#filter_img {
    width: 1vw;
    float: left;
}

.filter-options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 52%;
    margin-left: 14%;
    text-align: center;
    font-family: Kiona Semibold;
    font-style: oblique;
    font-weight: bolder;
    margin-left: 1vw;
}

.filter-options a {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.filter-options a:hover {
    background-color: #f0f0f0;
}

.filter-dropdown:hover .filter-options {
    display: block;
}



.filter-dropdown:hover .announcement-container {
    opacity: 0.2;
}

.add-comment {
    position: relative;
    float: right;
    color: #007bff;
    cursor: pointer;
    top: 70%;
    right: 5%;
}

.pre-announcement {
    text-align: center;
    margin-top: 20%;
}
.comment-box {
    visibility: hidden;
    display: none;
    flex-direction: column;
}

.comment-box textarea {
    width: 80%;
    max-width: 90%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-box button {
    background-color: #007bff;
    color: #fff;
    width: 100px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.announcement-title {
    margin-top: 1vh;
    font-weight: 800;
    font-family: Kiona Semibold;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #e70f0f;
    padding-left: 7vw;
    padding-top: 2vh;
}

.urgency {
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 18px;
    color: mediumblue;
    font-style: oblique;
    /* padding-top: 1.9vh; */
    /* padding-left: 0.75vw; */
    width: 100%;
    margin: 0;
}

.publisher {
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 18px;
    color: mediumblue;
    font-style: oblique;
    /* position: fixed; */
    padding: 1vh 0vw;
}

.announcement-date {
    font-family: Kiona Semibold;
    font-size: 17px;
    /* margin-top: 28vh; */
    /* margin-left: 27vw; */
    position: relative;
    bottom: -25vh;
    right: -15vw;
}

.announcement-description {
    font-family: initial;
    font-size: 17px;
    padding-left: 1vw;
    padding-top: 0;
}

.title-section-name {
    font-family: Kiona Semibold;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 6vh;
    margin-left: 4vw;
    text-decoration: underline;
}

.rectangle {

}

.description-wrapper {
    visibility: hidden;
    display: none;
}

.current_display {
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;}

.autocomplete-list {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    width: 63%;
    background-color: white;
    top: 4.2vh;


    -ms-overflow-style: none;  /* hides scrollbar */
    scrollbar-width: none;  /* hides scrollbar */
}

.autocomplete-list::-webkit-scrollbar {
    display: none;
}


.autocomplete-list button {
    border: unset;
    background: unset;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5em;
}

.autocomplete-list button:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.autocomplete-list li {
    border: 1px solid #e9e9e9;
    border-top: unset;
    border-radius: 6px;
}

.create-announcement {
    width: 30%;
    margin-top: 1vh;
    margin-left: 0vw;
}